#root {
  background-color: #f8ff0345;
  /* height: 500px; */
  width: 400px;
  padding: 10px;
}

#chromeBox {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  .loadingBox{
    padding: 10px 0;
    color: #787676e8;
    font-size: small;
    font-weight: 700;
    .ant-spin-spinning{
      margin-right: 10px;
    }
  }
  .contentBox {

    .messageBox {
      height: 400px;
      overflow-y: scroll;

      .system {
        background-color: #ffffffdb;
        padding: 10px;
        border-radius: 10px;
        width: 90%;
        overflow-x: scroll;
      }

      .user {
        padding: 10px;
      }
    }

    .emptyBox {
      opacity: 0;
      animation: showFromLeft 1s forwards 1s;
      text-align: center;
      margin-top: 20px;
      color: #5c5f618c;
      font-weight: bolder;

      img {
        margin: 10px auto;
        width: 50%;
      }
    }
  }

  .inputBox {
    align-items: center;
    display: flex;

    .button {
      width: 50px;
      height: 40px;
      cursor: pointer;
      /* background: linear-gradient(135deg, #ffffff7d, #e0e0e09e); */
      border-radius: 15px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: #333;
      font-weight: bold;
      transition: box-shadow 0.2s;
      margin-left: 10px;

      img {
        width: 15px;
      }
    }

    .button:active {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      transform: translateY(2px);
    }

    .ant-input-outlined {
      border-width: 0px;
      height: 60px;
    }
  }
}

@keyframes showFromLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

